/* body, html, .container-fluid {
    height: 100%;
} */

body, html {
    background-color: #fef5f0;
    overflow-x: hidden;
}

span {
    font-size: 1.3rem;
}

.slab {
    font-family: 'Roboto Slab';
}

h4 {
    font-weight: 700;
}

#mainContainer{
    height: 100%;
    font-family: 'Roboto', serif;

    overflow: hidden;
}

#logoTop {
    width: 170px;
    margin: 25px 10px 10px 10px;
}

#mainTitle {
    background-color: #fef5f0;
    height: 50%;
    vertical-align: middle;
    margin-top: -13rem;
}

#mainTitleText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding-left: 10rem; */
}

#mainTitle h1{
    color: #282561;
    font-weight: 700;
    line-height: 77%;
}

#mainTitle h4{
    color: #f05352;
    font-weight: bold;
}

#mainTitle span{
    color: #282561;
}
#dateBalloons{
    width: 477px;
}
/* Centering things in mobile */
.innerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Mobile Landing Section Styles */
@media (max-width: 500px){ 
    #mainTitle {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 0;
    }

    #dateBalloons {
        width: 270px;
        margin-bottom: 3rem;
    }

    #mainTitleText {
        /* padding: 15px; */
        margin-bottom: 3rem;
    }

    .col-sm-1 {
        display: none;
    }

    #logoTop {
        width: 120px;
    }

}

@media (max-width: 800px) and (min-width: 501px){
    #mainTitle {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 0;
    }

    #dateBalloons {
        margin-top: 122em;
        width: 400px;
    }

    #mainTitleText {
        padding: 0;
    }

    .col-sm-1 {
        display: none;
    }

}

/* Red Wave Part */
#infoTitle {
    /* background-color: #fef5f0; */
    text-align: center;
    color: #fef5f0;
    font-weight: 700;
    position: relative;

    /* background-image: url("images/redWave.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 115%; */

    /* height: 150%; */
}


#infoArea{
    background-color: #F05251;
    
}

#infoArea {
    color: white;
}

.info {
    padding-bottom: 17vw;
}

.infoAreaTitle{
    font-weight: 700;
    font-size: 1.5em;
}

#subText{
    margin-top: 20px;
    margin-bottom: 25px;
    max-width: 400px;
}

#subButton{
    background-color: #ef9b75;
    color: white;

    padding: 10px 20px;

    border: none;
    border-radius: 20px;
}

#sponText{
    margin-top: 20px;
    margin-bottom: 25px;
    max-width: 400px;
}

#sponLink{
    text-decoration: none;
    color: #282561;
}

#sponButton {
    background-color: #2fb5e3;
    color: white;

    padding: 10px 20px;

    border: none;
    border-radius: 20px;
}



/* Flair Styles */
#footer {
    background-color: #F05251;
}

#logoFooter {
    width: 150px;
    margin: 10px 10px 20px 10px;
}



#redWave {
    margin-top: -23vw;
}

/* 3. Flair Styles */
.flair-row-1 {
    margin-top: -1%;
    position: absolute;
    top: -40px;
    left: 50em;
}
.flair-3 {
    /* position: relative; */
}
#flairRowTop{
    margin-left: -3rem;
    margin-top: 3rem;
}

#coralCircle {
    width: 100px;
}

#purpleGridTop {
    width: 130px;
}

#greenZig {
    width: 150px;
}

#blueCircleTop{
    width: 40px;
}

#blueGrid {
    width: 100px;
    float: left;
    margin-top: -10em;
    margin-left: -4rem;
}

#blueCircleBottom {
    width: 40px;
    align-self: flex-end;
    margin-bottom: 4em;    
}

#purpleZig {
    width: 150px;
    margin-bottom: 70px;
}

#greenGrid {
    width: 90px;
    float: left;
    align-self: flex-end;
    margin-left: -7em;
    margin-bottom: 3em;
}

#purpleCircle{
    width: 100px;
    margin-top: -4em;
    padding-bottom: 15em;
}

#greenCircle {
    width: 60px;
    float: left;
    margin-left: -2.6em;
    margin-top: 4em;
}

#coralZig {
    width: 130px;
    float: right;
    margin-right: -4em;
}

.flair-row-2 {
    margin-right: 12rem;

}

/* Mobile Flair Styles */
@media (max-width: 500px) {
    .flair-row-2 {
        position: absolute;
        width: 70px;
        
    }

    #purpleGridTop {
        width: 77px;
    }

    #greenZig {
        display: none;
    }

    #blueGrid {
        position: absolute;
        top: -152px;
        left: 2px;
        width: 77px;
    }

    #blueCircleBottom{
        position: absolute;
        right: 70%;
        top: 70%; 
    }

    #purpleZig {
        width: 77px;
        position: absolute;
        top: 90%;
    }

    #purpleCircle {
        display: none;
    }

    #extratext {
        display: none;
    }

    #redWave {
        margin-top: -27vw;
    }
}

@media (max-width: 800px) {

    #purpleGridTop {
        width: 97px;
    }

    #greenZig {
        left: 50%;
        width: 100px;
    }

    #blueCircleTop {
        position: absolute;
        left: 90%;
        top: 30%
    }

    #blueGrid {
        width: 97px;
        float: right;
    }

    #blueCircleBottom{
        display: none;
    }

    #purpleZig {
        width: 99px;
        float: left;

    }

    #purpleCircle {
        display: none;
    }

    #extratext {
        display: none;        
    }

    #redWave {
        margin-top: -27vw;
    }

}