/* body, html, .container-fluid {
    height: 100%;
} */

body, html {
    background-color: #fef5f0;
    overflow-x: hidden;
}

#mainContainer{
    height: 100%;
    font-family: 'Roboto', serif;
}

#navbar {
    /* background-color: #fef5f0; */
    padding: 25px 10px 10px 10px;
}

#logoTop {
    width: 170px;
}

#mainTitle {
    background-color: #fef5f0;
    height: 50%;
    vertical-align: middle;
    margin-top: -13rem;
}

#mainTitleText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10rem;
}

#mainTitle h1{
    color: #282561;
    font-weight: 700;
    line-height: 77%;
}

#mainTitle h5{
    color: #f05352;
    font-weight: bold;
}

#mainTitle span{
    color: #282561;
}
#dateBalloons{
    width: 500px;
}

/* Mobile Landing Section Styles */
@media (max-width: 500px){
    #mainTitle {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 0;
    }

    #dateBalloons {
        width: 250px;
    }

    #mainTitleText {
        padding: 15px;
    }

    .col-sm-1 {
        display: none;
    }

}

#infoTitle {
    /* background-color: #fef5f0; */
    text-align: center;
    color: #fef5f0;
    font-weight: 700;

    background-image: url("images/redWave.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}


#infoArea{
    background-color: #F05251;
    
}

#infoTitle{
    color: white;
}

#infoArea {
    color: white;
}

.infoTitle{
    font-weight: bold;
    font-size: 1.2em;
}

#subText{
    margin-top: 20px;
    margin-bottom: 25px;
    max-width: 250px;
}

#subButton{
    background-color: #ef9b75;
    color: white;

    padding: 10px 20px;

    border: none;
    border-radius: 20px;
}

#sponText{
    margin-top: 20px;
    margin-bottom: 25px;
    max-width: 300px;
}

#sponLink{
    text-decoration: none;
    color: #282561;
}

#sponButton {
    background-color: #2fb5e3;
    color: white;

    padding: 10px 20px;

    border: none;
    border-radius: 20px;
}

/* Flair Styles */
.flair-row-1 {
    margin-top: -1%;
    position: absolute;
    top: -40px;
    left: 50em;
}

.flair-row-2 {
    margin-right: 13rem;

}

/* Mobile Flair Styles */
@media (max-width: 500px) {
    .flair-row-2 {
        position: absolute;
        width: 70px;
    }

    .zigzag {
        left: 50%;
    }

    .circle {
        width: 30px;
        left: 95%;
        top: 33px;
    }

}