</div>
</main>
<img src="/images/redWave-01.svg" class="bottomWave" alt="decorativeWaveBottom" width="100%" />

<footer class="pink">
    <div class="container-fluid">
        <div class="row noBottom">
            <div class="col-6 col-lg-2"><img class="img-fluid" alt="Boston Hacks Logo White" src="/images/LogoHrzntl_White.png" /></div>
            
            <div class="col">
            </div>
        </div>
    </div>
</footer>

{% if page.loadFlair %}
    <div class="flairs">
        <img src="/images/BlueSquareGrid.svg" alt="BlueSquareGrid">
        <img src="/images/BlueThickCircle.svg" alt="BlueThickCircle">
        <img src="/images/CoralCircGrid.svg" alt="CoralCircGrid">
        <img src="/images/CoralThinCircle.svg" alt="CoralThinCircle">
        <img src="/images/CoralZigZag.svg" alt="CoralZigZag">
        <img src="/images/GreenThickCircle.svg" alt="GreenThickCircle">
        <img src="/images/GreenZigZag.svg" alt="GreenZigZag">
        <img src="/images/PinkSquareGrid.svg" alt="PinkSquareGrid">
        <img src="/images/PurpleCircGrid.svg" alt="PurpleCircGrid">
        <img src="/images/PurpleThinCircle.svg" alt="PurpleThinCircle">
        <img src="/images/PurpleZigZag.svg" alt="PurpleZigZag">
    </div>
    <script src="/loadFlairs.js"></script>
{% endif %}

</body>

</html>