<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="BostonHacks - Boston's premier collegiate MLH hackathon.
    Join over 450 students in a weekend of hacking, learning, and fun."/>
    <title>BostonHacks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <img src="/images/redWave-01.svg" class="topWave" alt="decorativeWaveTop" width="100%" />
    <header>
        <h1 hidden>BostonHacks</h1>
        <div class="container-fluid">
            <nav class="row">
                <div class="col-6 col-sm-4 col-lg-3 align-self-center">
                    <img src="/images/logoColor.png" class="img-fluid" alt="Boston Hacks Logo" id="logoTop" />
                </div>
                <div class="col"></div>
                <div class="col-3 col-sm-2 col-lg-1">
                    <a id="mlh-trust-badge" rel="noreferrer"
                        href="https://mlh.io/seasons/na-2020/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=gray"
                        target="_blank">
                        <img src="https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-gray.svg"
                            alt="Major League Hacking 2020 Hackathon Season">
                    </a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">